.signUp {      
        background: #FFEFD5;
        font-family: 맑은고딕,굴림,돋움;
        border: 5px double #999;
}

.signUp fieldset legend {
        color: #333;
        font-size :20px;
        text-shadow:0 1px 1px rgba(0,0,0,.3);
}
.signUp button {
        color:#333;
        font:13px 맑은고딕,굴림,돋움;
        letter-spacing :3px;
        padding :7px 20px;
        border-radius:2px;
}
.signUp button:hover {
        background:#1e2506;
        cursor:pointer; /*커서가 손가락으로 변함*/
	    color:#fff;
}
.signUp td {
    padding: 10px
}